.logo_img {
  width: 4rem;
  height: 3rem;
}

.functionList {
  margin: 1rem;
}

ion-col {
  padding: 0.2rem;

  .functionlist_inner {
    border: 0.05rem solid #eee;
    padding: 0.5rem;
    height: 5.8rem;
    line-height: 4.8rem;
    text-align: center;

    border-radius: 1rem;
  }
}
