<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      金辰智慧工厂·设备管理
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="functionList">
    <ion-grid>
      <ion-row>
        <ion-col size="3" *ngFor="let item of functionList" [routerLink]="[item.routeLink]">
          <div class="functionlist_inner">

            {{item.functionName}}

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>