<ion-header>
  <ion-toolbar class="login_toolbar">

    <ion-buttons slot="end">

      <ion-button (click)="setServerConfig()">
        服务设置
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="login_logo">
    <img src="../../assets/favicon.ico" />
  </div>

  <ion-list class="login_list">
    <ion-item>
      <ion-input placeholder="帐号" [(ngModel)]="userinfo.username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="密码" type="password" [(ngModel)]="userinfo.password"></ion-input>
    </ion-item>
  </ion-list>


  <ion-button (click)="doLogin()" color="danger" expand="block" class="jd_btn">
    登录
  </ion-button>

</ion-content>
<ion-footer>
  <span>v1.0.0.1</span>
  <br>
  <span>2019 © 苏州新辰智慧信息技术有限公司</span>
</ion-footer>